<p id="notice"><%= notice %></p>

<h1>Deadlines</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Deadline</th>
    </tr>
  </thead>

  <tbody>
    <% @deadlines.each do |deadline| %>
      <tr>
        <td><%= deadline.description %></td>
        <td><%= deadline.deadline %></td>
      </tr>
    <% end %>
  </tbody>
</table>


