<p id="notice"><%= notice %></p>

<h1>Teachings</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User.id</th>
      <th>Course.id</th>
      <th>Archived</th>
    </tr>
  </thead>

  <tbody>
    <% @teachings.each do |teaching| %>
      <tr>
        <td><%= link_to teaching.user_id, teaching.user %></td>
        <td><%= link_to teaching.course_id, teaching.course %></td>
        <td><%= teaching.archived %></td>
      </tr>
    <% end %>
  </tbody>
</table>

