<p id="notice"><%= notice %></p>

<h1>Exercises</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>course</th>
      <th>coursekey</th>
      <th>number of exercises</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name  %></td>
        <td><%= course.coursekey %></td>
        <td><%= course.exercises.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

